## SIMCC ##
SIMCC_DATA_DIR=
# > Defaults
SIMCC_HOST=
SIMCC_HTTP_COMMANDER_RECONNECT=
SIMCC_WS_COMMANDER_RECONNECT=

## Postgres ##
POSTGRES_USER=simcc
POSTGRES_PASSWORD=
POSTGRES_DB=simcc
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

## PGADMIN ##
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=

## Redis ##
REDIS_USERNAME=simcc
REDIS_PASSWORD=
