@import "tailwindcss";

@plugin "daisyui" {
    themes: false;
}

@theme {
    --color-primary: var(--color-violet-700);
    --color-outline: var(--color-gray-300);
}

@plugin "daisyui/theme" {
    name: "simcc";
    default: true;
    extends: "light";
    --color-primary: var(--color-violet-700);
    --color-primary-content: #ffffff;
}
